@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#master-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 16.6666%;
	display: block;
}
#Menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article2 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 58.3333%;
	display: block;
}
#home-column-2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#master-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#welcome {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#banner {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 79.1666%;
	display: block;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#signup {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contactus {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Susan {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Leland {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#board {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#advisory-board {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#program-board {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sidebar1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#news {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#newsletters {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#about-us {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#programs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#support {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#news-banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#workshop-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#workshopdetails {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resources-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#special-order {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resources-intro {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#products {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ-2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#HOH {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#graceful-passages {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Most-Important-Day {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#grace-workbook {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#journey-songs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#chantwave {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#honoring {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#songsourcing {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#webstore-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speakers {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speaker-block {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#video-block {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews-col-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews-col-2 {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#testimonials-admin {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-edu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-clinic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testemonials-spirit {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-palliative {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-volunteers {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonials-patients {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#angeles {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#joan {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 37.5%;
	display: block;
}
#ira {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#jeremy {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 37.5%;
	display: block;
}
#naomi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#tom {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 37.5%;
	display: block;
}
#christiane {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#christina {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 37.5%;
	display: block;
}
#rachel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#desmond {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 37.5%;
	display: block;
}
#jean {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#Menu1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#privacy-policy {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speaker-list {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#speaker-faces {
	clear: none;
	float: left;
	margin-left: 4.1666%;
	width: 100%;
	display: block;
}
#home-column-3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#follow-us {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#site-map {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonial-graphic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonial-pic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews-pic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 37.5%;
	display: block;
}
#news-pic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article-4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#recommended-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#author-bio {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#landing-book-maria {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#error-message {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ1b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ1c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Order-Now {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ2b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ2c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#HOHb {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#HOHc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#GPb {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#GPc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ2a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#HOHa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ1a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#GPa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#book-landing-navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#table-of-contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#book-reviews {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#order-now {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#last-adventure {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#master-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 10.2564%;
	display: block;
}
#Menu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 87.1794%;
	display: block;
}
#home-column-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#article2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#home-column-2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#master-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#welcome {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#banner {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 74.3589%;
	display: block;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#signup {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#contactus {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Susan {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#Leland {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#board {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#advisory-board {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#program-board {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#sidebar1 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#news {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#newsletters {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#about-us {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#programs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#support {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#news-banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.3589%;
	display: block;
}
#workshop-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#workshopdetails {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resources-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#special-order {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#resources-intro {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#products {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#CFJ-2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#HOH {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#graceful-passages {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#Most-Important-Day {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#grace-workbook {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#journey-songs {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#chantwave {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#honoring {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#songsourcing {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#webstore-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speakers {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speaker-block {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#video-block {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#testimonials-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#reviews-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.3589%;
	display: block;
}
#reviews-col-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews-col-2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#testimonials-admin {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#testimonials-edu {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#testimonials-clinic {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#testemonials-spirit {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#testimonials-palliative {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#testimonials-volunteers {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#testimonials-patients {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#angeles {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#joan {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#ira {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#jeremy {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#naomi {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#tom {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#christiane {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#christina {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#rachel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#desmond {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#jean {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#Menu1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#privacy-policy {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speaker-list {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#speaker-faces {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#home-column-3 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#follow-us {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#site-map {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonial-graphic {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#testimonial-pic {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#reviews-pic {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#news-pic {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#article-4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#recommended-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#author-bio {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#book-description {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#error-message {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ1b {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#CFJ1c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#Order-Now {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 35.8974%;
	display: block;
}
#CFJ2b {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#CFJ2c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#HOHb {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#HOHc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#GPb {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 61.5384%;
	display: block;
}
#GPc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#CFJ2a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#HOHa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#CFJ1a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#GPa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
}
#book-landing-navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.3589%;
	display: block;
}
#table-of-contents {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#book-reviews {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#order-now {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#last-adventure {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#master-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 8.1632%;
	display: block;
}
#Menu {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 89.7959%;
	display: block;
}
#home-column-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#article2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 59.1836%;
	display: block;
}
#home-column-2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#master-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#welcome {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#banner {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#signup {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#contactus {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#Susan {
	clear: both;
	float: left;
	margin-left: 0;
	width: 38.7755%;
	display: block;
}
#Leland {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#board {
	clear: both;
	float: left;
	margin-left: 0;
	width: 38.7755%;
	display: block;
}
#advisory-board {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#program-board {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#sidebar1 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#news {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#newsletters {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#about-us {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#programs {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#support {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#news-banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#workshop-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#workshopdetails {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#resources-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#special-order {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#resources-intro {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#products {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
}
#CFJ-2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#HOH {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#graceful-passages {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#Most-Important-Day {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#grace-workbook {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#journey-songs {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#chantwave {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#honoring {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#songsourcing {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#webstore-footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speakers {
	clear: both;
	float: left;
	margin-left: 0;
	width: 38.7755%;
	display: block;
}
#speaker-block {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#video-block {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#testimonials-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 59.1836%;
	display: block;
}
#reviews-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#reviews-col-1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#reviews-col-2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#testimonials-admin {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#testimonials-edu {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#testimonials-clinic {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#testemonials-spirit {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#testimonials-palliative {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#testimonials-volunteers {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#testimonials-patients {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#angeles {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#joan {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#ira {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#jeremy {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#naomi {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#tom {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#christiane {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#christina {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#rachel {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#desmond {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#jean {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#Menu1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#privacy-policy {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#speaker-list {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#speaker-faces {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#home-column-3 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#follow-us {
	clear: both;
	float: left;
	margin-left: 0;
	width: 38.7755%;
	display: block;
}
#site-map {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#testimonial-graphic {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#testimonial-pic {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#reviews-pic {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#news-pic {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#article-4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#recommended-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#author-bio {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
}
#book-description {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#error-message {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CFJ1b {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}
#CFJ1c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#Order-Now {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#CFJ2b {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}
#CFJ2c {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#HOHb {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}
#HOHc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#GPb {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 69.3877%;
	display: block;
}
#GPc {
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
}
#CFJ2a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#HOHa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#CFJ1a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#GPa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}
#book-landing-navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#table-of-contents {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
}
#book-reviews {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#order-now {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 18.3673%;
	display: block;
}
#last-adventure {
	clear: both;
	float: left;
	margin-left: 0;
	width: 18.3673%;
	display: block;
}
}
